
.fw-bonus {
  background: #CFD9D5;
  padding: 10px;
  margin-bottom: 5px;

  }

.fw-header {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 15px; }

.fw-wrap {
  
  padding: 5px;
  border-bottom: 1px solid #cfd9d5; }
  .fw-wrap::after {
    content: "";
    display: table;
    clear: both; }

.fw-item {
  width: 20%;
  float: left;
  padding: 5px 5px 5px 0px;
  position: relative; }
  @media (max-width: 1007px) {
    .fw-item {
      width: 50%; } }

.fw4 .fw-popup {
  left: inherit;
  right: 5px; }
  .fw4 .fw-popup:after, .fw4 .fw-popup:before {
    left: inherit;
    right: 20px; }
  .fw4 .fw-popup:after {
    margin-right: -5px; }
  .fw4 .fw-popup:before {
    margin-right: -6px; }

@media (max-width: 1007px) {
  .fw2 .fw-popup {
    left: inherit;
    right: 5px; }
    .fw2 .fw-popup:after, .fw2 .fw-popup:before {
      left: inherit;
      right: 20px; }
    .fw2 .fw-popup:after {
      margin-right: -5px; }
    .fw2 .fw-popup:before {
      margin-right: -6px; } }
.fw-select {
  background: #FFF;
 color: #9a2720;
  border: 1px solid #cfd9d5;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgGFrgPx5MlGKiTCbKGTQGAJidD/EAyhsgAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: calc(100% - 6px) 50%;
  padding-right: 20px; }
  .fw-select span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; }
	
.fw-clear-2 {
  position: absolute;
  right: 20px;
  top: 12px;
  font-style: normal;
  font-size: 18px;
  font-family: Arial, Baskerville, monospace;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  opacity: .6;
  color:  #0042ff;
  font-weight: bold; }
  .fw-clear-2:hover {
    opacity: 1; color:  #0042ff;}	

.fw-select--choose {
  border-color: #9a2720; }

.fw-popup {
  position: absolute;
  background: #FFF;
  color: #000;
  border: 1px solid #cfd9d5;
  padding: 15px;
  border-radius: 4px;
  left: 5px;
  box-shadow: 0px 3px 7px 0px rgba(40, 44, 52, 0.15);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 900; }
  .fw-popup:after, .fw-popup:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .fw-popup:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 5px;
    margin-left: -5px; }
  .fw-popup:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #cfd9d5;
    border-width: 6px;
    margin-left: -6px; }

.fw-popup--open {
  visibility: visible;
  opacity: 1;
  margin-top: 6px; }

.slider {
  width: 200px;
  margin-top: 5px; }

.fw-inputs {
  margin-top: 20px; }

.fw-input {
  width: 60px;
  text-align: right;
  border: 1px solid #cfd9d5;
  margin-right: 10px;
  padding-right: 5px;
  padding: 5px; }

.fw-input--last {
  margin-right: 0; }

.fw-line {
  height: 1px;
  background: #cfd9d5;
  margin: 15px -15px; }

.fw-actions {
  min-width: 160px; }

.fw-btn {
  display: block;
  width: 100%;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 33px;
  line-height: 33px;
  border: 0;
  padding: 0 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBB281F', endColorstr='#FF72140F');
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiв•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•Ёв–“С‚РђР®в•¤Р®в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’в”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•ЁР±С‚Р”РІв•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•Ёв–“С‚РђР®в•¤Р®в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁР°С‚РђР°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’в•¤Р©в•ЁР°в•ЁРћв•Ёв–“С‚РђР®в•¤Р®в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁР°С‚Рђв•Јв•ЁР°в”¬Р°в•ЁР°С‚РђР°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•ЁР±С‚Рђв•‘в•ЁР°в•ЁРћв•ЁР±С‚Рђв•‘в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’в”¬Р°в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•ЁР±С‚Р”РІв•ЁР°в”¬Р°в•ЁР°С‚РђР°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•ЁР±С‚Рђв•‘в•ЁР°в•ЁРћв•ЁР±С‚Рђв•‘в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°С‚РђР©в•ЁРўв”¬Р°в•ЁР°в”¬Р°в•ЁР°С‚РђР°в•ЁР°в”¬Р°в•Ёв–“в•ЁР’в•¤Р©в•ЁР°в•ЁР–в•Ёв–“в•ЁР’в•¤Р«в•ЁР±в•¤Р«в•ЁР°в”¬Р°в•ЁРўв”¬Р°в•ЁР°в•ЁР–в•ЁР°С‚РђРЄв•Ёв–“С‚РђР®в•¤Р®в•ЁР°в”¬Р°в•Ёв–“в•ЁР’С‚Р”РІв•ЁР°С‚РђР©в•ЁРўв”¬Р¶pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #739283), color-stop(100%, #384740));
  background-image: -moz-linear-gradient(#739283, #384740);
  background-image: -webkit-linear-gradient(#739283, #384740);
  background-image: linear-gradient(#739283, #384740);
  background-image: linear-gradient(#60a372, #426f4e); }

.fw-clear {
  float: left; }

.fw-submit {
  float: right; }

.fw-clear a {
  color: #9a2720;
  text-decoration: none;
  display: block;
  height: 33px;
  line-height: 33px; }

.fw-popup input[type=checkbox] {
  margin: 0;
  margin-right: 3px;
  display: inline-block;
  position: relative;
  top: 2px; }
.fw-popup label.label {
  display: block;
  padding: 2px 0;
  cursor: pointer;
  white-space: nowrap; }

.fw-row {
  margin-left: -10px;
  margin-right: -10px;
  display: table; }
  .fw-row::after {
    content: "";
    display: table;
    clear: both; }

.fw-col50 {
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell; }

.fw-nav {
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px; }

.fw-sort {
  margin-left: 0px;
  float: left;
  margin-top: 1px;
  margin-bottom: 8px; }
  @media (max-width: 1007px) {
     }
  .fw-sort a {
    color: #9a2720;
    cursor: pointer;
    text-decoration: none;
     }

.fw-show {
  float: left;
  margin-left: 40px;
  margin-top: 1px;
  margin-bottom: 8px; }
  @media (max-width: 1007px) {
     }
  .fw-show a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2px; }
  .fw-show a.active {
    color: #9a2720;
    cursor: default;
    text-decoration: none;
    border-bottom: 1px dashed #9a2720; }
  .fw-show button {
    color: #000;
    cursor: pointer;
    text-decoration: none;
	border:none;
	outline: none;
	background:none;
    margin-right: 2px; }
  .fw-show button.active {
    color: #9a2720;
    cursor: default;
    text-decoration: none;
	background:none;
	outline: none;
	border:none;
    }
.fw-pagination {
  float: right; }
  @media (max-width: 1007px) {
    .fw-pagination {
      float: none; } }
  .fw-pagination .pagination {
    padding: 0; }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px; }

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 26px;
  left: -10px;
  top: -9px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-background {
  background: #FFF;
  /* box-shadow: inset 0 1px 1px #f0f0f0; */ }

.noUi-connect {
  background: #eff2f2;
  /* box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45); */
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  border-radius: 2px;
  border: 1px solid #cfd9d5;
  /* box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; */ }

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize; }

.noUi-vertical .noUi-dragable {
  cursor: n-resize; }

.noUi-handle {
  border: 1px solid #cfd9d5;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  /* box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; */ }

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 7px;
  top: 5px; }

.noUi-handle:after {
  left: 10px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/*# sourceMappingURL=filter.css.map */
