/*
 Jet Zoom CSS. (c)2012-2013 Star Plugins.
 This CSS can be altered to change the look and size of the lens.
*/
.jetzoom-lens {
    border:none;
    width:80%;
    height:80%;
    border-radius: 20px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
    cursor:none;
}

/* A blank image */
.jetzoom-blank {
    background-image:url(blank.png);
}

/* The animated ajax loading image */
.jetzoom-ajax-loader {
	 background-image:url(ajax-loader.gif);
    width:32px;
    height:32px;
}

.jetzoom-gallery{
cursor:pointer;
}

