.vr-callback .error-text{color:red; font-family:cuprum;}
.vr-callback .popup-w
{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    display: none;
    
    left: 37%;
    padding: 15px 25px;
    position: fixed;
    text-align: left;
    top: 8%;
    vertical-align: middle;
    width: 320px;
    z-index: 120;
}

.vr-callback .input-text 
{
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px #E5E5E5 inset;
    color: #444444;
    font-size: 10.5pt;
    outline: medium none;
    padding: 5px 8px;
    resize: none;
}
	
.vr-callback-overlayBox 
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}

.vr-callback .button
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border: 0;
	text-decoration: none;
	padding: 6px 15px;
	cursor: pointer;
	color: #fff;
	background-color:#DA251C;
	text-transform: uppercase;
	font-family: vrFont-normal;
	font-size: 20px;
}

.vr-callback .popup_form
{
	background: rgba(0, 0, 0, 0.7);
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 120;
}

.vr-callback .popup_form .popup-close, 
.vr-callback-popup-overlay .popup-close
{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 50px;
	margin-left: 0px;
	display: inline-block;
	position: relative;
	max-width: 80%;
	font-family:vrFont-normal;
	padding: 20px;
	border: 5px solid #fff;
	background: #fff;
	vertical-align: middle;
	text-align: left;
	z-index: 112;
	font-size:16px;
}

.vr-callback-popup-overlay
{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: 11;
}

.vr-callback .input-text.error {border:1px solid #DA251C;}
.vr-callback .inner {text-align: center;}

.vr-callback .popup__close,
.vr-callback-popup-overlay .popup__close
{
	margin: -5px -15px 0 0; 
	float: right; 
	font-family: tahoma;  
	color:#333;
	text-decoration:none;
	font-size:16px; 
	padding:0px 7px 3px;
}

.vr-callback .popup__close:hover,
.vr-callback-popup-overlay .popup__close:hover
{
	
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	
	padding:0px 7px 3px; 
	font-size:16px;
}

.vr-callback .input_boxes {padding: 0;}
.vr-callback .input_boxes .input-text {width: 94%;}

.vr-callback .callback2 
{
    /*border: none;*/
    /*text-decoration: none;*/
    /*background: #ff6550;*/
    /*color: white;*/
    /*display: inline-block;*/
    /*font-family: vrFont-bold;*/
    /*font-size: 14px;*/
    /*margin: 0;*/
    /*font-weight:bold;*/
    /*padding: 5px 15px 5px 15px;*/
    /*border-radius:5px;*/
    /*text-align: left;*/
    /*text-transform: uppercase;*/
	border-bottom: 1px dashed #ab0534;
	color: #ab0534;
	text-decoration: none;
}
.vr-callback .callback2:hover {cursor:pointer; }
.vr-callback .button:hover {cursor:pointer; background-color:#ef3e35;}
.vr-callback .callback2 b {font-size:14px; }

.vr-callback .round5 
{
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}