div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.prev-new {
    font-family: 'helveticaneuecyrroman',sans-serif;
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: 15px;
    position: relative;
    width: auto !important;
}

.prev-new .date {
    margin-bottom: 3px;
    font-weight: bold;
    color: #ab0534;
}