@media (min-width: 1008px) {
  body.home {
    /*background: url("../images/bg_header.jpg") no-repeat 50% 0; */
    background: url("../images/fon234.png") no-repeat 0 0; }
  body.inner {
    /*background: url("../images/bg_header_inner.jpg") no-repeat 50% 0;*/
    /*background: url("../images/fon4_inner.jpg") no-repeat 50% 0;	*/
    background: url("../images/fon234_inner.png") no-repeat 50% 0; }
  header {
    padding-top: 0; } }

header .menu-top .menu-pop {
  top: -1500px; }

@media (min-width: 1008px) {
  header .menu-top {
    position: static;
    background: none;
    border-bottom: 0; }
  header .menu-top li:last-child:after {
    display: none; } }

header .menu-top {
  z-index: 100; }

@media (min-width: 1008px) {
  header .menu-top .container {
    border-bottom: 1px solid #abb1af;
    background-color: #CFD9D5;
    border-radius: 5px; }
    header .menu-top .container:before {
      display: none; }
  .is-sticky .menu-top .container {
    border-radius: 0 0 5px 5px; } }

.logobox {
  display: none;
  padding-top: 32px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 1008px) {
    .logobox {
      display: block; } }

.lb-logo {
  display: block;
  float: left;
  background: url("../images/logo_zd.png") no-repeat;
  /*background: url("../images/logo_zd_ny.png") no-repeat;*/
width: 216px;
height: 79px;
margin-top: -22px; }

.lb-logo-pr {
display: block;
float: left;
background: url("../images/logo_pr.png") no-repeat;
width: 216px;
height: 79px;
margin-top: -22px; }

.lb-caption {
width: 310px;
float: left;
margin-left: 25px; }
.lb-caption a {
  color: #ab0534;
  text-decoration: none; }

.lb-search {
float: left;
margin-left: 10px;
width: 218px;
position: relative; }

.lb-search__input {
display: block;
width: 100%;
border: 1px solid #cfd9d5;
padding: 8px 10px;
font-family: inherit;
color: #232323;
font-size: 13px;
line-height: 18px;
padding-right: 38px; }

.lb-search__btn {
background: 0;
border: 0;
padding: 0;
margin: 0;
top: 0;
height: 100%;
width: 35px;
right: 0;
position: absolute;
opacity: .5; }
.lb-search__btn:hover {
  opacity: 1; }

.lb-phone {

float: right;
text-align: right;
position: relative;
width:160px;
}

.lb-phone__num {
font-size: 18px;
margin-bottom: 3px; }

.lb-phone__free {width:240px;
position: absolute;
font-size: 11px;
color: #999;
right: 0;
top: -22px; }

.lb-phone__callback {
  color: #ab0534;
  text-decoration: none;
  border-bottom: 1px dashed #ab0534; }

  .lb-phone__callback:hover {
  border-bottom: 1px dashed transparent;
  }

.menu-top li.a-big-table-cell.search {
display: none !important; }

 .catalog {
  padding-top: 20px;
}

@media (max-width:750px) {
.bx-controls { display:none}
}
footer .contacts p.work-time{
margin:0!important;
}

