header .menu-top {
    z-index: 100;
}

header .menu-top {
    position: static;
    background: none;
    border-bottom: 0;
}

header .menu-top .container {
    border-bottom: 1px solid #abb1af;
    background-color: #CFD9D5;
    border-radius: 5px;
}


.menu-pop-content 
{
	padding: 15px 0px 8px 15px;
	position: absolute;
	background: #d0d9d5;
	border: 2px solid #7c8584;
	padding: 15px 30px 8px 15px;
	top: 36px;
	left: 0px;
	display: block;
	white-space: nowrap;
}


