input.inp2[type="submit"] {
	background: #397458;
	height: 40px;
	line-height: 40px;
	width: auto;
	padding: 0 30px;
	font-size: 19px;
	font-family: 'helveticaneuecyrlight';
	color: white;
	font-style: normal;
}